body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item{
  background-color: black;
  color: white;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
}

.carousel{
  background-color: black;
}

.carousel img{
  height: 92vh;
}

.product{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid  rgba(136, 136, 136, 0.4);
  box-shadow: 3px 5px rgb(136, 136, 136, 0.3);
  border-radius: 30px 5px 30px 5px;
  background-color: rgba(251, 2, 2, 0.8);
  padding: 10px;
}
.product:hover {
  box-shadow: 0 8px 16px 0 rgb(20, 3, 255);
}

.load{
  height: 100vh;
  width: 100%;
  font-size: 100px;
}